h1 {
  text-align: center;
  color: black;
}

p {
  font-size: 18px;
  font-family: cursive;
}

h2 {
  text-align: center;
  color: #000000;
  font-family: cursive;
}

body {
  background-color: #DCDCDC;
}

ul {
  font-family: cursive;
  font-size: 20px;
}
